/* Reusable Utility Classes */
.primary-heading {
  font-size: 2rem;
}

.secondry-heading {
  font-size: 1.5rem;
  color: #0597a5;
}

.primary-strip-line {
  background: #fff;
  display: block;
  margin-left: 0 !important;
  height: 3px;
  width: 100px;
}

.secondry-strip-line {
  background: #0898a6;
  display: block;
  margin-left: 0 !important;
  height: 3px;
  width: 100px;
}

.primary-icons {
  color: #0898a6;
}

.sub-heading-primary {
  color:#101b70;
}

.primary-title {
  color:#101b70;
}

.primary-icon-image {
  width: 64px;
  height: 64px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* For Clients */
.clients {
  width: 24.6%;
  max-width: 100%;
  display: inline-block;
}

/* Team Members */
.members-img {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}


/* For Added background Affects */
.secondry-bg-affet {
  background: #f7fafb;
  margin-top: 40px;
}

.third-bg-affet {
  background: #b9e2e6;
  margin-top: 40px;
}

/* Button */
.read-more-btn {
  padding: 12px 24px;
  border: 1px solid;
  background: #101b70;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  border: none;
}

.read-more-btn:hover {
  color: #0597a5;
}

/* Services */
.services-left img {
  margin-right: auto; 
  height: 350px; 
  display: block;
}

.services-left-inner {
  padding-left: 25%;
}

.service-right,
.services-bank {
  display: block;
}

/* Top Header */
header .top-header {
  background: #f1f1f1
}

header .top-header .top-strip {
  font-size: 14px;
}

/* Navigations */
.navbar-brand.sidebar {
  background: #101b70 !important;
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  padding: 10px 15px;
}

.navbar-brand.sidebar:hover {
  color: #fff;
}

.nav-link  {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  font-weight: 600;
  font-size: 1rem;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 0.9rem;
}

/* Navigation Dropdown */
.dropdown-toggle::after {
  display: none;
}

.dropdown-menu[data-bs-popper] {
  top: 138%;
  left: 0;
  margin-top: 0.125rem;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: #01b8b4;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #01b8b4;
}

/* Banner */
.banner {
  background-image: linear-gradient(190deg, #fff 0%, #0597a5 100%);
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 320px;
}
 
.banner-inner {
  background: #101b70;
  padding: 20px 20px;
  display: inline-block;
  min-height: 300px;
}

.banner-bg {
  width: 370px;
  max-width: 100%;
  margin-left: auto;
}
/* Progress */
.progess-bold {
  font-size: 3rem !important;
}

.progess-normal {
  font-size: 1.5rem !important;
}

/* About youtube */
#youtube-link {
  width: 700px;
  max-width: 100%;
  height: 100%;
}

.about-list  {
  list-style: none;
  padding-left: 0;
}

/*Our services*/
.card {
  background: #f7fafb;
  border: none;
  height: 100%;
}

/*Our customer*/
#our-customer,
#partners {
  width: 100%;
}

.our-customer-inner,
.partners-inner {
  width: 33%;
  max-width: 100%;
  display: inline-block;
}

.carousel-inner {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
  width: 950px;
}

/* News */
.news-img {
  /* background: #f7fafb; */
  padding: 10% 10% 0 10%;
  height:100%; 
}

/* Footer */
.footer {
  color: #01b8b4;
  font-weight: bold;
}

.footer:hover {
  color: #fff;
}

.top-footer {
  border-top: 1px solid lightgray;
}

.top-footer .footer-logo {
  width: 136px;
}

.top-footer .footer-content {
  margin-bottom: 20px;
}

.top-footer .footer-list .footer-item {
  list-style: none;
  line-height: 20px;
  padding: 8px;
}

.top-footer .footer-list .footer-item a {
  color: #000;
}

.top-footer .footer-list .footer-item a:hover {
  color: #0399a8;
}

.top-footer h5 {
  color: #101b70;
  font-size: 1.5rem;
}

.middle-footer {
  border-top: 1px solid lightgray;
}

/* Our Team */
.card.cheque {
  border: 2px solid #f7fafb;
  background: #b9e2e6;
  height: 100%;
}

.card-title.content-body {
  color: #101b70;
}

/* CTS */
#counter {
  padding: 10px;
  text-align: center;
}

#counter h4 {
  color: #101b70;
  font-size: 1.4rem;
}

#counter p {
  font-size: 1.1rem;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box img {
  margin: 10px 0 10px 10px;
}

.accordion-header {
  border: 1px solid lightblue;
  margin-bottom: 20px;
}

.accordion-flush .accordion-item {
  border-bottom: 0;
}

.wrapper {
  max-width: 100%;
  width: 700px;
  margin: auto;
}

/* RECONE */
.about-list {
  list-style: none;
}

.about-items {
  margin-bottom: 10px;
  padding-bottom: 10px;
  /* display: flex; */
}

.about-items img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

/* scanner */
.scanner {
  list-style: none;
  width: 500px;
  margin: auto;
  max-width: 100%;
}

/* For Media Queary */
@media (max-width: 992px) {
  .top-header  {
    display: none;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .about-section,
  .partners  {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .services-left-inner {
    padding-left: 0 !important;
  }

  .services-left img {
    height: 100%; 
  }
}

@media (max-width: 767px) {
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.7rem;
    padding-left: 0.7rem;
  }

  .banner-bg {
    display: none !important;
  }

  .top-footer h5,
  .footer-list {
    text-align: center;
  }

  .our-customer-inner,
  .partners-inner {
    width: 32.4%;
  }

  .clients {
    width: 24.2%;
  }

  .news-img {
    padding: 0 10% 0 10%;
  }

  #counter h4 {
    font-size: 2rem !important;
  }

  #counter p {
    font-size: 1.4rem;
  }

  .banner-inner {
    display: block;
  }

  .banner-bg img {
    display: none !important;
  }

  .progess-normal {
    padding: 20px 20px 10px 20px;
  }

  .services-left img {
    height: 100%; 
  }

  .service-right img,
  .services-bank {
    display: none;
  }

}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    font-size: 0.8rem;
  }
  
  .clients {
    width: 24%;
  }

  .orits-services {
    width: 100%;
  }

}

@media (max-width: 360px) {
  .our-customer-inner,
  .partners-inner {
    width: 32%;
  }

  .clients {
    width: 23.8%;
  }

}

